@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-semibold mb-5;
  }
  
  h2 {
    @apply text-2xl font-semibold mb-4;
  }

  h3 {
    @apply text-xl font-semibold mb-3;
  }
  
  h4 {
    @apply text-lg font-semibold mb-2;
  }

  h5 {
    @apply font-semibold mb-1;
  }

  a {
    @apply inline-block;
  }

  input {
    @apply p-2 border rounded-sm w-full;
  }
}